body {
 margin: 0px;
}

p {
  font-size: 22px;
  font-weight: normal;
}

h1 {
  color: #333;
  font-size: 40px;
  font-weight: normal;
}

li {
  color: #333;
  font-weight: normal;
}

/*menu bar starts here*/

#topmenu {
  background-color: #e4e4e4;
  width: 100%;
  height: 115px;
  border-bottom: 1px;
  margin-top: 0;
  position: fixed;
  top: 0;
}

#logo {
  float:left;
}

#logo img {
  padding: 10px 0 10px 70px;
}

#navigation ul {
  margin: 0;
  padding: 40px 70px 0 0;
}

#navigation li {
  padding: 0 10px 0 10px;
  display: inline;
  float: right;
  font-size: 22px;
}

.redbutton {
  background-color: #99383f;
  border: none;
  color: #fff;
  padding: 15px 15px;
  text-align: center;
  font-size: 22px;
  font-family: serif;
  cursor: pointer;
  border-radius: 8px;
}

.button {
  background-color: #e4e4e4;
  border: none;
  color: #fff;
  padding: 15px 15px;
  text-align: center;
  font-size: 22px;
  font-family: serif;
  cursor: pointer;
  border-radius: 8px;
}

#navigation li a{
  color: #333;
  text-decoration: none;
}

#navigation a:hover{
  color: #99383f;

}

#navigation a:active{
  color: #99383f;
  text-decoration: underline;
}

.redbutton a {
  color: #fff !important;
  text-decoration: none !important;
}

.redbutton:hover a {
  color: #333 !important;
  text-decoration: none !important;
}

/*top banner starts here*/

#bannercolor{
  background-color: #ddd;
  width: 100%;
  max-width: 100%;
  height: auto;
}

#banner {
  background-image: url(surely.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 400px;
  margin:auto;
  padding:0;
  margin-top: 115px;
}

#banner-intro {
  float: left;
  margin-left: 305px;
}

#banner-intro h2{
  font-weight: bold;
  font-size: 45px;
  color: #393939;
}

/*main content starts here*/

#content1 {
  height: 300px;
  width: 100%;
  padding: 60px 0 120px 0;
  margin: auto;
  background-color: #f5f5f5;
}

#content1 h1 {
  margin: 0;
  padding: 40px 0px 20px 0;
  text-align: center;
}

#content1 h2 {
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.cols{
  margin-left: 82px;
  width: 320px;
  height: 200px;
}

.cols p{
  font-weight: 100;
  text-align: left;
}

#col1{
  margin-right: 60px;
  float: left;
}

#col2{
  margin-right: 60px;
  float: left;
}

#col3{
  float: left;
}

#emailform {
  margin: auto;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

input[type=text], select {
  display: inline;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type=submit] {
  width: 100px;
  color: white;
  padding: 14px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #99383f;
  border: none;
  color: #fff;
  padding: 15px 15px;
  text-align: center;
  font-size: 22px;
  font-family: serif;
}

#content2 {
  background-image: url(soundwave.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  padding: 50px 0 50px 0;
  margin: auto;
}

#content2 h2 {
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
#content2 p {
  color: #333;
  text-align: left;
  font-weight: lighter;
}

#textbox {
  width: 400px;
  margin-top: 30px;
}

#footer{
  margin: 40px 0 40px 0;
  text-align: center;
}

#footer p{
  font-size: 11px;
}
